# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# jupyter
.ipynb_checkpoints
.ipython/
.jupyter/
.local/

# sublime test/pycharm
.idea/
.DS_Store

# Emacs
*~

#Large TRUD files
.data/TRUD/
data/

notebooks/IIF/
notebooks/CombineCSVs/
notebooks/BNFcode_list_to_SQL/